<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Morpion</title>
</head>
<style>
input {
    margin: 30px;
}
</style>
<body>
    <h1> Jeu de Morpion </h1>
    <form>
        <table>
            <tr>
                <td><input type="checkbox" name="1" ></td>
                <td><input type="checkbox" name="2" ></td>
                <td><input type="checkbox" name="3" ></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="4" ></td>
                <td><input type="checkbox" name="5" ></td>
                <td><input type="checkbox" name="6" ></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="7" ></td>
                <td><input type="checkbox" name="8" ></td>
                <td><input type="checkbox" name="9" ></td>
            </tr>
        </table>
        <button type="submit" id="valider">Valider</button>
    </form>
</body>
</html>