<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Victoire</title>
</head>
<body>
    <h1>C'est gagné :)</h1>
    <a href="/"><button>Rejouer</button></a>
</body>
</html>

